# ==============================================================================
# Admón Almacén SSIT 2.0 - Variables de Entorno de Producción (.env)
# ==============================================================================

# Entorno y Seguridad Django
DJANGO_SETTINGS_MODULE=config.settings.production
DEBUG=False
SECRET_KEY=cambiar_esta_clave_secreta_en_produccion_generar_con_openssl_rand_hex_32
ALLOWED_HOSTS=almacen.ssit.internal,localhost,127.0.0.1,web
CSRF_TRUSTED_ORIGINS=https://almacen.ssit.internal,http://localhost:8000

# Base de Datos MariaDB 11+
# Formato: mysql://usuario:contraseña@servidor:puerto/nombre_bd
DATABASE_URL=mysql://ssit_user:ssit_strong_password_here@db:3306/ssit_db

# Seguridad HTTPS / Cookies
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000

# Parámetros de Negocio
STOCK_VALIDATION=True
TRASPASOS_URL=https://traspasos.ssit.internal
